body {
    margin: 0 auto;
    background-color: #454545;
    font-family: Lato;
    color: #FFF;
    font-size: 100%;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: #F573AD;
    font-size: 48px;
    padding: 0.08em 0.2em 0.2em 0.2em;
    border-bottom: 1px solid #2A2A2A;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    text-align: center;
    font-weight: bold;
}

header span:nth-child(2) {
    font-size: 24px;
    float: right;
}

table {
    padding: 1em;
    margin: 0 auto;
    text-align: center;
}

table td, table th, p a {
    padding: 0.6em;
}

table {
    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: "#" counter(rowNumber);
    padding-right: 0.6em;
}